body{
    background-color: #ecf0f1;
    font-family: 'Balthazar', serif;
}

#container{
    display: grid;
    grid-gap: 20px;
    padding-left: 25px;
    padding-right: 25px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "h ."
    "i b"
    "p p"
}

#header{
    grid-area: h;
    color: #3498db;
    font-size: 80px;
    margin-bottom: 25px;
    position: relative;
}

#input{     /* Post Input */
    grid-area: i;
    padding: 10px;
    font-size: 1.5vw;
}

#posts{     /* Post Area */
    grid-area: p;
}

#post{    /* Twit button */ 
    grid-area: b;
    padding: 6px;
    background-color: #3498db;
    border: 1px solid #2980b9;
    box-shadow: 1px 1px 5px #2c3e50;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
}

#post:active{    /* Twit button */ 
    background-color: #2980b9
}

.post{     /* All Posts Class */
    box-shadow: 1px 1px 3px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    padding-right: 5px;
    position: relative;
    background-color: whitesmoke;
}

.post-text{
    font-weight: bold;
    margin-bottom: 7px;
    font-size: larger;
    margin-right: 4%;
    overflow-wrap: break-word;
}

.comments{      /* All Comments Class */
    margin-left: 10px;
    margin: 10px;
    margin-right: 3%;
    overflow-wrap: break-word;
}

.delete{      /* Posts Delete Button */
    cursor: pointer;
    color: red;
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid black;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 18px;
    height: 19px;
    text-align: center;
    justify-content: center;
    font-size: 23px;
}

.delete-comment{      /* Comments Delete Button */
    cursor: pointer;
    color: #e74c3c;
}

#pic {      /* Header Pictures */
    position: absolute;
    max-width: 33px;
    max-height: 33px;
    margin: 10px;
    margin-top: 2px;
    margin-left: 10px;
}

.comment-input {     /* Comment Input */
    padding: 3px;
    margin-top: 5px;
    width: 40%;
}

.add-comment {
    width: 24px;
    height: 24px;
    background-color:  #3498db;
    margin: 8px;
    margin-bottom: 0px;
    border: 1px solid black;
    position: absolute;
    bottom: 11px;

    border: 1px solid #2980b9;
    cursor: pointer;
    border-radius: 2px;
}

.heart-false,
.heart-true {       /* Posts Like Button */
    position: absolute;
    right: 16px;
    bottom: 6px;
    color: red;
    font-weight: 100;
    font-size: 28px;
    cursor: pointer;
}
.heart-true {
    font-weight: 990;
    font-size: 36px;
}

.pic {      /* Send Comment Button */
    max-width: 18px;
    max-height: 18px;
    position: absolute;
    left: 2.5px;
    bottom: 0.8px;
}

.delete-comment {  
    color: red;
    padding: 5px;
    border-radius: 3px;
    border: 0;
    font-family: Monospace;
    margin-right: 7px;
    margin-left: 0;
    background-color: transparent;
    width: 7px;
    height: 7px;
}
